---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';

const allPosts = await getCollection('posts');

const allTags = allPosts.map((post) => post.data.tags).flat();
const uniqueTags = [...new Set(allTags)];
---

<BaseLayout pageTitle="All Tags">
    <div class="flex gap-2 flex-wrap">
        {
            uniqueTags.map((tag) => (
                <a href={`${tag}/`} class=" text-nowrap">
                    {tag}
                </a>
            ))
        }
    </div>
</BaseLayout>
