@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
        --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
        --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
        --step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
        --step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
        --step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
        --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
        --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
    }

    body {
        font-size: var(--step-0);
        margin: 0 auto;
        width: 100%;
        max-width: 80ch;
        padding: 1rem;
        line-height: 1.5;
    }

    h1 {
        font-size: var(--step-4);
        margin-top: 1rem;
    }

    h2 {
        font-size: var(--step-3);
        margin-top: 1rem;
    }
    h3 {
        font-size: var(--step-2);
        margin-top:1.2rem
    }

    p{ 
      margin-block-end: 1rem;
    }

    a{
        @apply text-teal-800 font-bold px-1 rounded underline decoration-teal-700 decoration-dotted underline-offset-4
    }
    a:hover{
        @apply text-teal-600  bg-teal-100/40
    }

    /* nav styles */

    .hamburger {
      padding-right: 20px;
      cursor: pointer;
  }

  .hamburger .line {
      display: block;
      width: 40px;
      height: 5px;
      margin-bottom: 10px;
      background-color: #1dc5b2;
  }
.nav-links {
    width: 100%;
    top: 5rem;
    /* left: 48px; */
    background-color: #e3f6ff;
    display: none;
    margin: 0;
  }
  
.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}
  

  
  .expanded {
    display: unset;
  }
  
  @media screen and (min-width: 636px) {
    .nav-links {
      /* margin-left: 5em; */
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 10px 20px;
    }
  
    .hamburger {
      display: none;
    }
  }
}
